@charset "utf-8";
/* SIR 지운아빠 */ 

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	unicode-range: U+0041-005A,U+0061-007A,U+AC00-D7A3;
}
@font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


/* 게시판 목록 */
.board-category	{
	float:left;height:30px;
	display: block;
	position: relative;margin: 10px 0; 
	
} 
#navi_category ul {text-align:center;}
#navi_category li {display:inline-block; padding:5px 0;}
#navi_category li:before {display:inline-block; content:"|";padding:0 15px;opacity:.6;}
#navi_category li:first-child:before {display:none;content:"";}
#navi_category #bo_cate_on {font-weight:bold;}
/* 갤러리 목록 */
#bo_gall {margin:0 auto;}
#bo_gall h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_gall #gall_ul {margin:10px 0;padding:0;list-style:none;}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_gall .gall_box {position:relative; padding:0;overflow:hidden;opacity:0.8; transition: all 0.2s;}
#bo_gall .gall_box:hover {opacity:1;}
#bo_gall .gall_box:hover .subject2 {opacity: 1;}

#bo_gall .gall_li .gall_chk{position:absolute;bottom:0;left:0;right:0; z-index: 2;}
#bo_gall .gall_li .gall_chk label{display:block;width:100%;padding:10px;box-sizing:border-box;}

.gall_row .col-gn-0,.gall_row .col-gn-1,.gall_row .col-gn-2,.gall_row .col-gn-3,.gall_row .col-gn-4,.gall_row .col-gn-5,.gall_row .col-gn-6,.gall_row .col-gn-7,.gall_row .col-gn-8,.gall_row .col-gn-9,.gall_row .col-gn-10{position:relative;min-height:1px;padding:5px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:0;}
.gall_row .col-gn-0,.latest_row .col-gn-1{width:100%}
.gall_row .col-gn-2{width:50%}
.gall_row .col-gn-3{width:33.33333333%}
.gall_row .col-gn-4{width:25%}
.gall_row .col-gn-5{width:20%}
.gall_row .col-gn-6{width:16.66666667%}
.gall_row .col-gn-7{width:14.28571428%}
.gall_row .col-gn-8{width:12.5%}
.gall_row .col-gn-9{width:11.11111111%}
.gall_row .col-gn-10{width:10%}

.gall_row .box_clear{clear:both} 

#bo_gall .gall_con {width:100%;height:100%;}  

#bo_gall .bo_tit{display:block;font-weight:bold; width:100%;height:100%;padding:0 10px;box-sizing:border-box;text-align:center;} 
/* 게시판 목록 공통 */
#bo_btn_top{margin: 10px 0}
#bo_btn_top:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx {margin-bottom:5px;float:right; }
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none} 
.bo_fx #chkall {display:inline-block;width:0;height:0;overflow:hidden;}
.bo_fx #chkall + label span {display:inline-block;font-size:12px;line-height:26px;} 
.bo_fx #chkall + label span:after {content:"선택";}
.bo_fx #chkall + label span.on:after{ content:"해제";}
.bo_fx ul {margin:0;padding:0;list-style:none} 

.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:0 8px;border:0; text-decoration:none;vertical-align:middle}  
 
#bo_sch {float:left;}
#bo_sch:after {display:block;visibility:hidden;clear:both;content:""}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#bo_sch select{border:0;height:28px;float:left;}
#bo_sch .sch_input{height:28px;border:0;padding:0 10px;float:left}
#bo_sch .sch_btn{ float:left; margin-top:-1px; }

#bo_gall li.empty_list {padding:85px 0;text-align:center} 
  
#bo_gall li.gall_li.bo_notice .gall_name,#bo_gall li.gall_li.bo_notice .gall_date{display:none;} 
#bo_gall li.gall_li.bo_notice,#bo_gall li.gall_li.bo_notice .gall_box ,#bo_gall li.gall_li.bo_notice .gall_con{display:block;width:100%;clear:both;}  
#bo_gall li.gall_li.bo_notice .bo_tit{padding:10px;height:auto;}
#bo_gall li.gall_li.bo_notice .gall_chk{left:auto;right:0;top:0;bottom:0;}  
#bo_gall li.gall_li.bo_notice .gall_box {opacity:1;}
#bo_gall .bo_notice .notice_icon{display:inline-block; width:20px;height:20px;line-height:18px;padding:0;margin-right:5px;font-style:normal;text-align:center;font-weight:bold;}
 
.pg_wrap{clear:both;}

/* 갤러리 뷰 */
#password_box {max-width:300px;margin:20px auto;position:relative;z-index:9999;}
#password_box p{padding:5px;}
#view_box{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.7);z-index:999;}
#view_box.on {display:block;}
#view_box .fix-layout {margin:0 auto;height:100%;}
#view_box #close_area{display:block;position:fixed;width:100%;height:100%;top:0;right:0;bottom:0;left:0;z-index:10;}
#view_area{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:90;}

#bo_v {position:relative;padding:20px 30px;box-sizing:border-box; overflow:auto;} 

#bo_v_top{position:absolute;width:100%;left:0;z-index:999;}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {padding-right:20px;list-style:none;word-break:break-all}

#bo_v_info {padding:0 10px;}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_v_info h2 {font-size:15px;padding-bottom:5px;}
#bo_v_info strong {display:inline-block;margin:0 10px 0 0;font-weight:normal} 
#bo_v_info .if_date{margin:0;opacity:0.8;}

.bo_v_com { float:right; }
.bo_v_com li {float:left;margin-right:8px}

.bo_v_left { float:left}
.bo_v_left li {float:left;margin-right:5px}

.bo_v_nb {
	position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 0px;
    /* transform: translateY(-50%); */
    z-index: 999;
} 
.bo_v_nb .prev, .bo_v_nb .next{position:relative;display:block;width:50px;height:50px;line-height:50px;}
.bo_v_nb .prev {float:left}
.bo_v_nb .next {float:right;}
.bo_v_nb .prev:after {content:"<";}
.bo_v_nb .next:after {content:">";}
.bo_v_nb .prev:after, .bo_v_nb .next:after{position:absolute;top:0;display:block;width:100%;height:100%;font-size:35px;text-align:center;}
.bo_v_nb .prev span, .bo_v_nb .next span{display:inline-block;width:0;height:0;white-space:nowrap;overflow:hidden;}
 
#bo_v .bo_block {position:absolute;top:0;right:0;left:0;bottom:0;z-index:100;}

#bo_v_atc {min-height:100px;padding:30px 10px 10px; }  
#bo_v_atc p { z-index: 101; position: relative;}  


#bo_v_con { width:100%; overflow:hidden} 
#bo_v_con img {max-width:100%;height:auto}
 
#bo_vc_act li {display: inline-block;}


/*글쓰기*/ 
#bo_w .write_div{margin:10px 0;position:relative}
#bo_w .bo_w_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_w .bo_w_info .frm_input{float:left;width:33%}
#bo_w #wr_password{margin:0 0.5%  }
#bo_w .wr_content.smarteditor2 iframe{background:#fff}
#bo_w .bo_w_tit{position:relative}
#bo_w .bo_w_tit .frm_input{padding-right:120px;}
#bo_w .bo_w_tit #btn_autosave{position:absolute;top:0;right:0;line-height:30px;height:30px;}
#bo_w .bo_w_link label,#bo_w .bo_w_flie label{display:inline-block;height:28px;line-height:28px;width:60px;background: #eee;text-align:center;color:#888} 
#bo_w .bo_w_link .frm_input,#bo_w .bo_w_flie .frm_file{padding-left:65px}  
#bo_w .bo_w_flie .frm_input{margin:10px 0 0 } 

.board-write > dl {position:relative;}
.board-write > dl > dt { width:70px;position:absolute;line-height:32px;text-align:center; }
.board-write > dl > dd { width:100%;margin-left:0;padding-left:80px;box-sizing:border-box;line-height:32px;}
.board-write input.frm_input.full	{ width: 100%; display:block;margin:1px 0;}



/* 게시판 댓글 (현재 사용안함) */ 
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:20px 10px;position:relative} 
#bo_vc header {line-height:23px;}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold} 
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {padding:10px;margin:5px 0 0;}
#bo_vc #bo_vc_winfo {float:left} 

.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w_info{margin:10px 0;float:left}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;margin-right:5px}
.bo_vc_w .btn_confirm{float:right;margin-top:5px}
.bo_vc_w .btn_confirm label{display:inline-block;margin-right:10px; text-align:center;}
.bo_vc_w .btn_submit{height:30px;padding:0 20px; font-weight:bold; }
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}



.board-viewer.theme-box	{
	display: block;
	position: relative;
	padding: 20px;
}

.board-viewer .subject	{
	text-align: center;
}
.board-viewer .subject em	{
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 1.2em;
	padding-bottom: 10px;
}
.board-viewer .subject strong	{
	display: block;
	position: relative;
	font-size: 22px;
	line-height: 1.2em;
}

.board-viewer .info	{
	margin-top: 20px;
	padding: 8px 10px;
	text-align: center;
}
.board-viewer .info span	{ display: inline-block; opacity: .8; }
.board-viewer .info span + span:before	{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	vertical-align: middle;
	margin: 0 10px;
}

.board-viewer .contents	{
	display: block;
	position: relative;
	margin: 20px 0;
	padding: 40px 15px;
	border-left-width: 0;
	border-right-width: 0;
}






#bo_v_bot	{ padding: 20px 0; overflow: hidden; position: fixed; left:30px; bottom:30px; z-index: 5; }
.bo_v_nb	{ float: left; }
.bo_v_com	{ float: right; }


.board-comment-list			{ position: relative; }
.board-comment-list .co-line	{
	display: block;
	position: relative;
	clear: both;
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
	border: none;
}
.board-comment-list .item	{
	position: relative;
	padding: 10px 10px 10px 100px;
}
.board-comment-list .co-name	{
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	width: 90px;
	padding: 10px 10px;
	box-sizing: border-box;
}
.board-comment-list .co-info {
	display: block;
	text-align: right;
	padding-top: 15px;
	font-size: 11px;
	opacity: .7;
}
.board-comment-list .co-info span	{ display: inline-block; opacity: .8; }
.board-comment-list .co-info span + span:before	{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	vertical-align: middle;
	margin: 0 10px;
}

.board-comment-list .item.reply	{ border-left: 5px solid rgba(255, 255, 255, .1); }
.board-comment-list .item.reply .co-name	{
	background: none;
}


.board-comment-list + .board-comment-write	{
	margin-top: 20px;
}

.board-comment-form	{ 
	position: relative;
	padding-right: 80px;
}
.board-comment-form .btn_confirm	{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 29px;
	width: 80px;
}
.board-comment-form .btn_confirm .ui-btn	{
	width: 100%;
	height: 100%;
}
.board-comment-form p	{
	margin: 0;
	padding: 5px 10px;
}
.board-comment-form textarea	{ display: block; height: 100px; resize: none; border: none; }


@media all and (max-width: 640px) {

	.avocado-list li a	{
		line-height: 1.2em;
		padding: 15px 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.avocado-list li .ico-cate,
	.avocado-list li .name,
	.avocado-list li .date,
	.avocado-list li .hit	{
		position: relative;
		width: auto;
		left: auto;
		right: auto;
		bottom: auto;
		line-height: 1.2em;
	}

	.avocado-list li .info	{
		display: block;
		text-align: right;
		line-height: 1.0em;
		padding-top: 10px;
	}

	.avocado-list li .ico-cate	{ display: inline; }
	.avocado-list li .ico-cate:before	{ content: "[ "; }
	.avocado-list li .ico-cate:after	{ content: " ]"; }

	.avocado-list li strong	{ display: inline; line-height: 1.2em; }

	.avocado-list li .name,
	.avocado-list li .date,
	.avocado-list li .hit	{ display: inline; padding: 0 5px; }

	.board-comment-list .item	{ padding: 0; }
	.board-comment-list .co-name	{ position: relative; width: auto; padding: 5px 10px; }
	.board-comment-list .co-content	{ padding: 10px; word-break:break-all;}

}

.subject2 {
	opacity: 0;
	height:70px;
	background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.473));
	color:#000;
	position: absolute;
	bottom:0;
	width:100%;
	text-align: center;
	filter: drop-shadow(0 0 3px #fff);
	transition: all 0.2s;
}
.subject2 .title {font-family: 'GmarketSansLight','Hachi Maru Pop'; font-size: 24px; line-height: 24px; font-weight: bold; }
.subject2 .hashtag {font-family: 'pretendard'; font-size: 12px; line-height: 12px; font-weight: 600; margin:8px 0}

.content_wrap {font-family: 'pretendard';}

.content_wrap .fair_title {
	color:white;
	font-family: 'GmarketSansLight','Hachi Maru Pop';
	text-align: center;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.493)
}

.content_wrap .fair_title .subject { font-size: 82px; letter-spacing: 1px; line-height: 90px; margin-bottom: 20px;}
.content_wrap .fair_title .fair_detail {font-size:16px; line-height: 16px; letter-spacing: 3.5px; margin-bottom: 60px;}

.image .main_image {
	position: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 15px; 
	border: 1px solid #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.main_image img {display: none;}
.image { text-align: center;}
.image .main_image.main {position: relative; background-size: cover;margin: auto; width:1125px; height:375px;}
.image .main_image.left {width:280px; background-size: cover; height:450px;left:13%; top:10%}
.image .main_image.right {width:280px; background-size: cover; height:450px;right:13%; top:10%}


.content_wrap .source {text-align: center; margin: auto; display: block; margin-top: 12px;text-shadow: 0 0 4px #000; color: #fff;}

.grad {width:100%; position: fixed; z-index: -1; left:0; bottom:0; height:350px; background: linear-gradient(to bottom, transparent, #fff);}
.grad_black {width:100%; position: fixed; z-index: -1; left:0; top:0; height:350px; background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.493));}

.bottom_content .character_detail {position: fixed; bottom:100px; color: #000; text-align: center;}
.bottom_content .character_detail.left {left:25%;}
.bottom_content .character_detail.right {right:25%}

.bottom_content .character_detail .sd_image {max-width:180px; margin: auto; margin-bottom: 15px; filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));}
.bottom_content .character_detail .cha_name {font-family: 'ChosunSm'; font-weight: bold; font-size: 14px; line-height: 14px; margin-bottom: 10px;}
.bottom_content .character_detail .kr_name {font-family: 'GmarketSansMedium'; font-size: 34px; line-height: 34px;}
.bottom_content .character_detail .cha_detail {
	background-color: #000;
	border-radius: 2em;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	width:350px;
	padding:2px 0;
	letter-spacing: 3px;
	margin-top:5px;
}

.color {position: fixed; bottom: 100px; left:0; right:0; margin:0 auto; text-align: center; color: #000; width:100px;}
.color span {display: block; width:70px; margin:auto; text-align: center; margin-bottom: 5px; font-weight: 600;}
.color .color_box {display: inline-block; width:23px; height:24px; border: 1px solid #fff; box-sizing: border-box;}

/* image modal */
.modal {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
}
.modalBox {
    position: relative;
    text-align: center;
	top:15%;
	
}

.modalBox img {max-width: 60%;}

.sub_tit {margin:0 5px;}

.menu_on { background-color: #000; border-radius: 50%; width:25px; height:25px; text-align: center; line-height: 25px; margin:15px; cursor: pointer; transition: all 0.2s; color:white;}
.menu_on:hover {background-color: #888;}

.bottom_menu {display:none;}

.bearcommi {position: fixed; right:30px; bottom:15px; color:black}

@media all and (max-width: 1000px) {
	.bottom_menu {display:block}
	.image .main_image {position: relative;}
	.image .main_image.main { width:90%; margin-bottom: 50px;}
	.image .main_image.left {width:45%;height:450px;left:0;top:auto; display: inline-block;}
	.image .main_image.right {width:45%;height:450px;right:0;top:auto;display: inline-block;}

	.bottom_content  {text-align: center;}
	.bottom_content .character_detail {width:45%;}
	.bottom_content .character_detail.left {left:10px;}
	.bottom_content .character_detail.right {right:10px}
	.bottom_content .character_detail .cha_detail {width:100%;font-size: 12px; line-height: 12px;}
	.bottom_content .character_detail .kr_name {width:100%; margin: auto; font-size: 20px; line-height: 20px;}
	.bottom_content .character_detail .cha_name {width:100%; margin: auto; font-size: 10px; line-height: 10px; margin-bottom: 10px;}
	.bottom_content .character_detail .sd_image {max-width: 100px;}

	.color {position: relative; bottom:0; margin-top:50px;}

	#bo_v_bot	{ position:relative ; left:0; bottom:0 }

	.modalBox img {max-width: 100%;}

 }


